In [7]:
import sql_tools
import pandas as pd

In [8]:
cnx, cursor = sql_tools.create_session_cursor()
result = sql_tools.execute_fetchall(cursor, 'SELECT * from food', tuple())
result = pd.DataFrame(result)
result.head()

   0  1   2      3     4  5   6
0  1  1  荤菜   辣椒炒肉  42.0  1  82
1  2  1  荤菜  小炒黄牛肉  68.0  1  87
2  3  1  荤菜   剁椒鱼头  96.0  1  92
3  4  1  荤菜    口味鸡  88.0  1  54
4  5  1  荤菜  烟笋炒腊肉  48.0  1  44